{% extends 'layout/base.html' %}

{% block content %}
    <h1>Juan Ignacio Alonso - Fotografo</h1>
    <div class="about">
        <img src="https://picsum.photos/300/350" alt="">
        <div class="about-content">
            <h3>Lore del pulenta</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi nulla odit accusamus veniam harum, maiores cum dolorum doloremque quos molestiae sapiente suscipit pariatur dolor totam fuga impedit numquam, magnam neque.</p>
        </div>
    </div>
{% endblock %}